@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@angular/cdk/overlay-prebuilt.css';

:root {
  --standard-h-padding: 1.3rem;
  --standard-v-padding: 0.7rem;
  --standard-border: 1px solid rgb(236, 236, 236);
  --standard-secondary-background-color: rgba(236, 236, 236, 0.649);
  --primary-color: #2563eb;
}


.link {
  color: var(--primary-color);
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.title-text {
  font-size: 1.15rem;
  font-weight: bold;
}

.title-text-sm {
  font-size: 1.05rem;
  font-weight: bold;
}

.title-text-xs {
  font-size: 0.9rem;
  font-weight: 600;
}

.small-text {
  font-size: 0.8rem;
}

.m-title {
  margin: 0.5rem 0;
}

.secondary-text {
  font-size: 0.85rem;
  color: gray;
}


