<p>button works!</p>
<button ui-button type="submit" appearance="filled">test</button>
<button ui-button type="submit" appearance="filled" disabled>test</button>
<br />
<button ui-button type="submit" appearance="outlined">test</button>
<button ui-button type="submit" appearance="outlined" disabled>test</button>
<br />
<button ui-button type="submit" appearance="elevated">test</button>
<button ui-button type="submit" appearance="elevated" disabled>test</button>
<br />
<button ui-button type="submit" appearance="text">test</button>
<button ui-button type="submit" appearance="text" disabled>test</button>
<br />
<button ui-button type="submit" appearance="tonal">test</button>
<button ui-button type="submit" appearance="tonal" disabled>test</button>
